<div class="wrap">
    <div class="row">
        <div class="col-sm-9">
            <h3>Chatroom</h3>
        </div>
        <div class="col-sm-3">
            <h3>Users</h3>
        </div>
    </div>
    <div class="row">
        <div class="chat-box col-xs-8 col-sm-9" autoScroll>
            <p *ngFor="#msg of messages | async">{{msg}}</p>
        </div>
        <div class="user-list col-xs-4 col-sm-3">
            <!--<p *ngFor="#user of userslist"></p>-->
        </div>
    </div>
</div>
<div class="footer">
    <chat-input (addNewMessage)="emitMessage($event)"></chat-input>
</div>