<div id="input-row" class="row">
    <form id="input-form" *ngIf="active" (ngSubmit)="sendMessage()" #thisForm="ngForm" autocomplete="off" novalidate>
        <div id="input-box" class="col-xs-8">
            <div id="input-box-error" *ngIf="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
            <input type="text" id="message-box" class="form-control input-lg" [(ngModel)]="message" required ngControl="chatMessage" placeholder="Enter a new message..." repeatFocus>
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
        </div>
        <logout></logout>
    </form>
</div>